@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #231F20;
  color: white;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply bg-background text-white;
  }
}

.glassmorphism {
  @apply bg-background-light/80 backdrop-blur-md border border-white/10;
}